<div id="inside" />

<img src="style/comenius_rgb.jpg" /><br/>

<h1> Uczenie się przez całe życie</h1><h1> 
Projekt wielostronny Morze łączy – morze dzieli</h1>

W ramach międzynarodowego programu Comenius Uczenie się przez całe życie Gimnazjum Sportowe nr 46 z Gdańska będzie w latach 2009-2011  realizować wspólny projekt ze szkołami z Finlandii, Szkocji,Włoch i Turcji : The sea -a Connecting and a Separating Element Morze łączy – morze dzieli <br />
Celem działań dwuletniego projektu są szczegółowe studia nad znaczeniem morza   w życiu konkretnych pięciu miast „leżących na brzegu Europy”, ale także jego znaczenia dla całych  narodów i  państw. Istotną częścią projektu są badania wpływu bliskości morza na życie codzienne, historię, kulturę, sztukę, naukę, rozrywkę. Tematyka projektu ma charakter panoramiczny, daje możliwość wglądu w różne dziedziny nauki (biologia, ekologia, geografia, historia), kultury (literatura, sztuka, filozofii) czy życia codziennego. <br />
Projekt ma m.in. za zadanie wskazanie zależności między wszystkimi zaangażowanymi krajami z jednej strony, a drugiej wzmocnienie poczucia tożsamości narodowej czy poczucia silnego związku z regionem poprzez poszukiwanie elementów identyfikujących poszczególne miasta i zamieszkujące je  narody. <br />
Ważną częścią projektu mają być także badania nad ekologią morza, jego wpływem na klimat i zmiany środowiska naturalnego, przybliżenie specyfiki morskiego wybrzeża i jego ekosystemu, wskazanie na jego  naturalne i ekonomiczne walory. <br />
Projekt ma być realizowany przy użyciu najnowszych technik informacyjnych, stały kontakt między wszystkimi uczestnikami projektu (społeczności szkolne) utrzymywany dzięki różnym komunikatorom głosowym , z wykorzystaniem telefonii VoIP. <br />
 Główne cele projektu to wyzwolenie potencjału twórczego u uczniów i nauczycieli poprzez działania artystyczne ( malarstwo, fotografia, film, inscenizacje, muzyka itp.); wzmocnienie porozumienia interkulturowego i większej identyfikacji z Europą (poszukiwanie elementów wspólnych narodów i państw biorących udział w projekcie); poznawanie innych krajów (mobilności), wzrost umiejętności posługiwania się najnowszymi technikami komunikacyjnymi; wprowadzenie nowych metod i treści nauczania;wspomaganie rozwoju dziecka z dysfunkcjami, prezentacja własnego miasta, regionu; podnoszenie motywacji i umiejętności posługiwania się językiem angielskim ; włączenie do pracy uczniów ze specjalnymi potrzebami; poznanie dziedzictwa kulturowego miast partnerskich i prezentacja własnego miasta, regionu; kształcenie umiejętności organizacyjnych (mobilności, organizacja spotkań grup partnerskich), integracja  międzyprzedmiotowa.<br />
Głównym zadaniem międzynarodowego projektu jest promowanie wielokulturowej , opartej na współpracy i spersonalizowanej  edukacji, odkrywanie wspólnych, uniwersalnych wartości, rozumienie innych kultur, ale także promowanie własnej kultury i tradycji. <br />
Doświadczenia wielokulturowe zdobyte przez nauczycieli i uczniów partnerskich szkół mają za zadanie budowanie postawy otwarcia i tolerancji oraz ograniczenie poczucia izolacji , wyobcowania we wspólnej Europie.
Praca nad projektem w języku angielskim  rozwija kompetencje językowe wszystkich zaangażowanych osób , wzmacnia motywację do nauki języków obcych.<br />
Bardzo istotne jest także stosowanie w praktyce szeroko pojętej techniki informacyjnej, cyfrowej- używanie techniki jako ważnego narzędzia w edukacji.<br />
Osobiste kontakty uczniów i nauczycieli z różnych krajów (mobilności) dają poczucie wspólnotowości, przynależności do wspólnej europejskiej rodziny.<br />

<h3>Terminarz</h3>

Jesień 2009 –działania ARTYSTYCZNE (sztuki plastyczne)
-wykonanie prac  fotograficznych i plastycznych - malarskich w dowolnej technice o tematyce morskiej : konkurs fotograficzny i plastyczny  Moje morze, wyłonienie najlepszych prac (po 12 z każdej szkoły), przygotowanie wspólnej
rotacyjnej wystawy ( tylko oryginały ). Zdjęcia  ( każdy kraj prezentuje własny region, własne wybrzeże) będą wykorzystane do wydrukowania kalendarza na rok 2011 ,w którym zaznaczone będą święta religijne i narodowe wszystkich krajów partnerskich oraz opisane zwyczaje związane ze świętami;
-opracowanie wspólnej książki kucharskiej Morze na talerzu, szkoły partnerskie zbierają przepisy regionalne (np. Polska : rybne potrawy kaszubskie),  wymiana i próbowanie przepisów
-spotkanie nauczycieli i młodzieży z krajów partnerskich, omówienie planów, celów i metod, ustalenie ścisłych harmonogramów, nawiązanie osobistych kontaktów, prezentacje szkół partnerskich
<br />
Wiosna 2010 – kontynuacja działań związanych ze SZTUKĄ ( ekspresja artystyczna – performance, film)  oraz problematyka  EKOLOGICZNA
- wystawa prac plastycznych, ostateczne opracowanie kalendarza,
- praca nad wspólnym filmem , części będą łączone krótkimi etiudami
filmowymi, obrazami wybrzeża danego kraju ( prezentacja charakterystycznych cech regionalnej przyrody). Premiera filmu planowana jest na jesień 2010r.,
-w kwietniu we wszystkich szkołach partnerskich zostanie zorganizowany Dzień Zbierania Śmieci  - The Rubish  Action Day ( oczyszczanie plaż, wybrzeża) – akcja ekologiczna połączona z artystycznymi działaniami recyclingowymi. Z zebranych nad morzem śmieci klasy tworzą swoje własne rzeźby Potwory morskich głębin. 
Akcja ma za zadanie podnoszenie świadomości odpowiedzialności za środowisko.<br />
<br />
Jesień 2010 – odniesienie do  HISTORII i DZIEDZICTWA NARODOWEGO:
-premiera filmu;
-praca nad uwarunkowaniami historycznymi miast partnerskich – interesuje nas przede wszystkim w jaki sposób położenie miasta wpływało na jego rozwój, na kształtowanie tożsamości, na budowanie specyfiki miejsca ( morze i genius loci miasta), 
- pokazanie własnego dziedzictwa w sposób atrakcyjny dla innych: przygotowanie inscenizacji, prezentacji multimedialnych, broszur , pomocy dydaktycznych (np. scenariuszy lekcji); 
-wydanie książek, prezentacje multimedialne - np. Szkocja opracowuje motyw historyczny pod hasłem Wielcy odkrywcy, zdobywcy i podróżnicy, Polska pracuje nad prezentacją Morze bramą miasta do wolności.
- wydanie kalendarza na rok 2011.<br />
<br />

Wiosna 2011 – połączeni MUZYKĄ
- wielki koncert z udziałem uczniów i nauczycieli wszystkich krajów partnerskich, odśpiewanie przygotowanej w szkołach jednej wspólnej piosenki z motywem morskim (symboliczny hymn projektu);
- ewaluacja, dyskusja , omówienie wszystkich działań związanych z pracą nad wspólnym projektem.
<br />
<h3>Zadania szkoły</h3>

Koordynator szkolny projektu:  p. Ewa Stanisławska
Logistyka: p. Żanetta Kowalewska
Oprawa plastyczna i muzyczna projektu: p. Barbara Maciejewska
Wsparcie informatyczne: p. Mikołaj Sochacki
Angliści: p. Nawojka Łuczak i p. Magdalena Wierzchowska
Ekologia i kuchnia regionalna: p. Ewa Filiks
Historia regionu: p. Małgorzata Kuszner, p. Krystian Dzikowski
Film i prezentacja Morze bramą Gdańska do wolności: p. Ewa Stanisławska, p. Alicja Biały

<br /><br />
<h2>Gimnazjum Sportowe nr 46</h2>

<ol><li>Jesteśmy szczególnie odpowiedzialni za projekt filmowy. Wszystkie szkoły przygotowują wspólnie film Opracowanie wybranego fragmentu ma być twórcze ( scenariusz własny albo reinterpretacja dzieła literackiego). Muszą zostać ściśle określone niektóre elementy, np. czas trwania aktów, atrybuty bohaterów (żeby byli rozpoznawalni w kolejnych inscenizacjach) , obowiązuje wyłącznie j. angielski. Elementem spajającym poszczególne akty mógłby być filmowy zapis (minutowa sekwencja) – obraz wybrzeża charakterystycznego dla regionu danej szkoły (fale uderzające o morski brzeg). 
Osoby odpowiedzialne: p.Ewa Stanisławska, p.Alicja Biały, p. Nawojka Łuczak, p.Małgorzata Kuszner,  p.Krystian Dzikowski.</li>


<li> Przygotowanie szkolnych wystaw malarstwa i fotografii Moje morze. Wybranie najlepszych prac na  wspólną, (rotacyjną) „wędrującą” między szkołami wystawę na wiosnę 2010.
Osoby odpowiedzialne: p. Barbara Maciejewska, p. Ewa Stanisławska.
</li>

<li> Kartki z kalendarza-po wystawie zdjęć (jw.), wybór najpiękniejszych zdjęć do wspólnego kalendarza. Opracowanie najważniejszych świąt obchodzonych w Polsce 
(z dokładnym opisem zwyczajów). Na jesieni 2010 zebranie wszystkich partnerskich kartek i wydrukowanie kalendarza na rok 2011 z zaznaczeniem dni świątecznych we wszystkich krajach partnerskich i krótkim opisem narodowych i religijnych zwyczajów.
Osoby odpowiedzialne: p. Magdalena Wierzchowska, p. B. Maciejewska
</li>


<li>Opracowanie polskiej części książki kucharskiej Morze na talerzu. Przygotowanie charakterystycznego dla Polski, a szczególnie dla regionu kaszubskiego, menu rybnego. Wspólne gotowanie, fotografowanie etapów pracy. Zebranie przepisów ze wszystkich krajów partnerskich, wydanie i prezentacja książki kucharskiej w maju 2010 r.
Odpowiedzialni: p. Ewa Stanisławska, p. Ewa Filiks, p. Nawojka Łuczak
</li>


<li>Przygotowanie The Rubbish Action Day. Zajęcia edkacyjne (ekologia morza) poza szkołą- w Oceanarium w Gdyni i w Stacji Morskiej Uniwesytetu Gdańskiego w Helu (m.in. spotkanie z prof. K. Skórą, laureatem Swedish Balic Sea Water Award). Akcja recyklingowa Potwory z głębin Morza Bałtyckiego - tworzenie rzeźb z wykorzystaniem zebranych nad morzem śmieci.
Odpowiedzialni: p. Ewa Filiks, p. Ewa Stanisławska
</li>


<li> Projekt historyczny Morze Bałtyckie bramą Gdańska do wolności. Zwrócenie uwagi na wolność jako naczelne prawo jednostki. Szkolna debata o prawach człowieka. Przygotowanie prezentacji multimedialnej poprzedzone wizytami w  muzeach. Opracowanie wielostronne – np. rola Hanzy, morskiej współpracy handlowej; spotkanie narodów, kultur i religii, Stocznia    Gdańska symbolem wolności, wywiad z laureatem Pokojowej Nagrody Nobla w 1983 – prezydentem Lechem Wałęsą  (Życiorys morzem pisany).
Odpowiedzialni:p. Ewa Stanisławska, p.Alicja Biały, p.Małgorzata Kuszner, p. Nawojka Łuczak, p.Krystian Dzikowski
</li>
<li>Przygotowanie koncertu na zakończenie projektu. Opracowanie części pierwszej - w części drugiej wystąpią uczniowie ze szkół partnerskich. 
Wybór jednego utworu z motywem marynistycznym, który zostanie odśpiewany przez wszystkich gości.
Odpowiedzialni: p. Barbara Maciejewska, p. Ewa Stanisławska, p. Alicja Biały
</li>


<li>Organizacja całego spotkania zamykającego pracę nad projektem w maju 2011. Turniej szermierczy (goście – gospodarze) pod hasłem Bądź szermierzem swego losu, prezentacja regionu i Gdańska.
Odpowiedzialni: Ewa Stanisławska i cały szkolny zespół Comeniusa</li>
</ol> 



<h3>PARTNERZY</h3>

W projekcie uczestniczą szkoły zlokalizowane w miejscowościach położonych nad morzem, ale na terenach o innym typie wybrzeża:
<br /><br />
<h2>Moiso Lower Secondary School z Salo w Finlandii</h2> 
<br />
Szkoła Moisio prowadzi nauczanie ogólne oraz równolegle – nauczania specjalne. Z 443 uczniów około 30 uczęszcza na lekcje nauczania specjalnego z indywidualnie dobranym planem zajęć. 
W szkole nie uczy się wielu emigrantów. Szkoła oferuje dodatkowe zajęcia z muzyki i technologii informatycznej. Miasto i szkoła znajduje się na terenie uprzemysłowionym, który przyciąga dużo ludności napływowej posiadającej dzieci w wieku szkolnym. Liczba uczniów w Szkole  Moisio podwoiła się w przeciągu ostatnich 10 lat właśnie z powodu migracji ludności. 
Struktura społeczna miasta jest mocno zróżnicowana, jest wiele rodzin z jednym tylko  rodzicem, rodzin, w których rodzice pracują na zmiany takich godzinach, że dzieci przez dłuższy czas nie widują rodziców rano lub wieczór. Najnowsze badania opieki społecznej pokazują, że do szkoły uczęszczają dzieci z trudnościami w nauce i zachowaniem anty-społecznym, dzieci, które dotyka przemoc w szkole oraz dzieci pijące alkohol i palące papierosy.
<br /><br />
<h2>Aydin Ataturk Anadolu Lisesi School w Aydin w Turcji</h2>
<br />
Atatürk Anatolian High School to szkoła średnia ogólnokształcąca, do której uczęszcza 830 uczniów. Szkoła leży w dzielnicy mieszkalnej, z dala od centrum miasta, tak więc 95% uczniów musi codziennie dojeżdżać do szkoły autobusem. Muszą również zjeść lunch w szkolnej stołówce. 
Kandydatów do szkoły obowiązuje egzamin wstępny, tak więc poziom nauczania jest wyrównany. W szkole naucza się matematyki, fizyki, chemii, biologii, historii, geografii, literatury oraz j. angielskiego. Drugim językiem obcym jest j. niemiecki. 10% uczniów pochodzi z rodzin rozbitych. 
W szkole pracuje 55 nauczycieli. Jest pracownia komputerowa, językową, fizyczna oraz biblioteka. Na terenie szkoły znajdują się również: boisko do koszykówki, boisko do piłki nożnej, sala konferencyjna.
Warsztaty artystyczne, sport i taniec narodowy to najpopularniejsze zajęcia dodatkowe.  
<br /><br />
<h2>Instituto Techico Commerciale "A. Capriotti"w San Benedetto del Tronto we Włoszech</h2>
<br />
ITC Capriotti” leży na przedmieściach miasta. Jest szkołą średnią kształcącą w trzech kierunkach: bibliotekoznawstwo – lingwistyka – komputery (informatyka). Szkoła jest wyposażona w nowoczesne laboratoria, urządzenia techniczne, pracownię komputerową i salę gimnastyczną. 
Duża część uczniów dojeżdża do szkoły z pobliskich miejscowości. Ok. 10% stanowią emigranci z Rosji, Albanii, Chin, Polski i Afryki.Aby wspomóc integrację uczniów o tak różnych korzeniach kulturowych, szkoła wprowadziła dodatkowe zajęcia językowe i kulturoznawstwa. Wśród uczniów widoczne są różnice w zakresie poziomu nauczania czy kultury osobistej. Część uczniów pochodzi z rodzin rozbitych, część wychowuje się w rodzinach, w których rodzice pracują zmianowo i wracają do domu jedynie na weekend.. Problem przemocy jest jednak nieduży.
<br /><br />

<h2> Sportowe Gimnazjum nr 46 w Gdańsku w Polsce</h2>
<br />
W Gimnazjum Sportowym Nr 46 uczą się dzieci z dysfunkcjami: z ADHD i dysleksją rozwojową , zwiększa się także ilość tzw. eurosierot , dlatego szczególnie istotne jest przeciwdziałanie izolacji i odrzuceniu, zapewnienie ważnych potrzeb psychicznych: uznania, akceptacji, kontaktu emocjonalnego. Wspólna praca nad projektem stymuluje rozwój jednostek przez uczenie współdziałania, pracy zespołowej przy jednoczesnej indywidualizacji zadań w zależności od zainteresowań uczniów. Dla uczniów z ADHD ważne jest budowanie pozytywnych stosunków między jednostką a grupą i przestrzeganie norm grupowych.      Dodatkowym problemem jest fakt, że wszystkie dzieci są spoza rejonu (szkoła sportowa) –konieczna jest integracja młodzieży wokół wspólnych działań, umacnianie więzi społecznych.
<br /><br />
</div>
