<div id="inside"><h1> Program "Comenius" - projekty graficzne.</h1>
<h2>Oficjalne logo:</h2>
<img src="style/comenius_oficial.png" /><br /><br />
<div> <h2>Plakaty:</h2>
<table>
  <tr><td> <img src="style/olacomenius.png" /></td></tr>
  <tr><td>Praca Oli Mech z IIG</td></tr>
  <tr><td><img src="style/berenikacommenius.png" /></td></tr>
  <tr><td>Praca Bereniki Godlewskiej z IIG</td></tr>
</table>
</div><br /><br />
<div><h2>Konkurs na logo nadruku na koszulce. Przykładowe prace:</h2>
<table>
  <tr><td> <img src="style/comenius_our.png" /><br /> Wybrana na logo.</td></tr>
  <tr><td> <img src="style/comenius3.png" /></td></tr>
  <tr><td> <img src="style/comenius4.png" /></td></tr>
</table>
</div>



</div>
