<div id="inside"><p> <h1>Dyskusyjny Klub  Filmowy<small>(dla uczniów gimnazjum)</small></h1>
<br/>

Spotkania miłośników X muzy odbywają się dwa razy w miesiącu, zawsze w poniedziałki  o godzinie 17.15.
<br/>
 

Prowadzą: Alicja Biały i Ewa Stanisławska
<br/>
 <br/>

<h2>Założenia DKF-u :</h2>

<ul><li>wskazanie na film jako jeden z wielu tekstów kultury,
<li>popularyzacja sztuki filmowej,
<li>projekcje filmów o wysokich walorach artystycznych lub poznawczych,
<li>pogłębianie wiedzy na temat filmu,
<li>zapoznanie uczniów z różnymi gatunkami filmowymi,
<li>kształcenie wrażliwości odbiorcy,
<li>przedstawienie filmów kultowych oraz wielkich kreacji aktorskich,
<li>zapoznanie ze strukturą dzieła filmowego, gromadzenie słownictwa związanego z filmem i kinem,
<li>kształcenie umiejętności wielopoziomowej interpretacji dzieła filmowego; odkrywanie sensu dosłownego i metaforycznego,
<li>wymiana poglądów – forum dyskusyjne, wyrażanie opinii na temat obejrzanych filmów,
<li>zapoznanie z kryteriami oceny filmu; nagrody filmowe; recenzje</ul>
<br/>
<h2>Program:</h2>
<br/>
<i>I cykl – Kłopoty z wolnością</i>
<ol><li>L. Hallstrom  - Co gryzie Gilberta Grape’a</li>
<li>M. Forman  - Lot nad kukułczym gniazdem</li>
<li>P. Weir  - Stowarzyszenie Umarłych Poetów</li>
<li>M. Forman  - Hair</li>
<li>E. Kazan   - Buntownik bez powodu</li>
<li>M. Nichols  -  Absolwent</li>
<li>L. Hallstrom -  Czekolada</li></ol>
<br/>
     <i>II cykl – Różne oblicza miłości</i>
<ol><li>R. Reiner -  Kiedy Harry poznał Sally</li>
<li>P. Trzaskalski - Edi</li>
<li>A.Cuaran  - Wielkie nadzieje</li>
<li>J. Jeunet  - Amelia</li></ol>
<br/>
  <i>III cykl – W kręgu tajemnicy</i>
<ol><li>P. Weir  -  Ostatnia fala</li>
<li>G. Van Sant -  Buntownik z wyboru</li>
<li>M. Shaylaman  - Szósty zmysł</li>
<li>I. Saftley  -   K-Pax</li>
<li>R. Howard  -  Piękny umysł</li>
<li>L. i A.Wachowscy  - Matrix</li></ol>

</p>
</div>