<div id="inside">

<h1>Wyniki egzaminów gimnazjalnych</h1>
<h3>Część matematyczno - przyrodnicza</h3>


<h2>2003/2004</h2><br />
Woj. pomorskie – 24,46 <br />
Szkoła – 36,92 (więcej o 12 pkt.) <br /><br />
<h2>2004/2005</h2><br />
Woj. pomorskie – 24.41 <br />
Szkoła – 34,27 (więcej o 9,86 pkt.)<br /> <br />
<h2>2005/2006</h2><br />
Woj. pomorskie – 24,12 <br />
Szkoła – 32,81 (więcej o 8,67 pkt.) <br /><br />
<h2>2006/2007</h2><br />
Woj. pomorskie – 25,06 <br />
Szkoła – 31,16 (więcej o 6,1 pkt.) <br /><br />
<h2>2007/2008</h2><br />
Woj. pomorskie-26,6<br />
Szkoła-34,4 (więcej o 7,8 pkt.)<br /><br />
<h2>2008/2009</h2><br />
Woj. pomorskie 25,60;<br />
Szkoła:34,26 (więcej o 8,66 pkt.)<br /><br />

<h2> Wizualizacja porównująca wyniki części matematyczno-przyrodniczej z kolejnych lat</h2>
<img src="style/examin_mat.png" />

<h3>Część humanistyczna</h3>
<h2>2003/2004</h2><br />
Woj. pomorskie – 25,39 <br />
Szkoła – 34,04 (więcej o 8,65 pkt.) <br /><br />
<h2>2004/2005</h2><br />
Woj. pomorskie – 32,83 <br />
Szkoła – 40,69 (więcej o 7,86 pkt.) <br /><br />
<h2>2005/2006</h2><br />
Woj. pomorskie - 30 <br />
Szkoła – 36,12 (więcej o 6,12 pkt.) <br />
<h2>2006/2007</h2><br />
Woj. pomorskie - 30,21 <br />
Szkoła – 35,64 (więcej o 5,43 pkt.) <br /><br />
<h2>2007/2008</h2><br />
Woj. pomorskie: 29,3<br />
Szkoła:32,1 (więcej o 2,8)<br /><br />
<h2>2008/2009</h2><br />
Woj. pomorskie 30,72<br />
Szkoła:35,82 ( więcej o 5,1)<br /><br />

<h2> Wizualizacja porównująca wyniki części humanistycznej z kolejnych lat</h2>
<img src="style/examin_hum.png" />

</div>
