<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>ZKPiG nr 26 w Gdańsku</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- **** layout stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="style/style.css" />

</head>

<body>
  <div id="main">
	<div id="links_container">	
      
      <div id="links">
        <a href="user"> Edytor </a> | <a href="admin">Admin </a>
      </div>
    </div>
    

    <div id="menu">
      <ul>
        <!-- **** zmineić select dla innej podstrony **** -->
        <li><a href="news">Wydarzenia</a></li>
        <li><a href="gallery">Galeria</a></li>
        <li><a id="select" href="school">O szkole</a></li>
      </ul>
    </div>


    <div id="content">
      <div id="column1">
<div class="sidebaritem">
<div class="sbilinks">
<h1>{{title_}}</h1>
<ul></li>  <!-- **** tekst musi być krótki w linkach!!! **** -->
 <li><a href="{{  }}"></a></li>
</ul>
</div>
</div>
      </div>



      <div id="column2">

	<div class="short">
        <a href="/article?id"><h1>Temat artykułu 1</h1></a>
	
	  <p id="info"><img src="style/author_mini.png" /> Mikołaj Sochacki <img src="style/data_mini.png" />  23 września 2009 13:49</p>
        <!-- **** INSERT PAGE CONTENT HERE **** -->
	<span class="left"><img src="style/graphic.jpg" alt="example graphic" /></span>
        <p>
          Tutaj będzie się znajdował tekst artykułu, a przynajmniej jego początek.
        </p>
       <p id="readmore"><a href="">Czytaj dalej...</a></p><hr /> 
      </div>


	</div>
    </div>


    <div id="footer">
      <a href="http://" target="_blank">Admin: Mikołaj Sochacki</a> | <a href="" >Images by </a> | <a href="mailto:zkpig26@gmail.com">zkpig26@gmail.com</a> | <a href="http://www.dcarter.co.uk">Template by dcarter</a>
    </div>
  </div>
</body>
</html>
