
<div id="inside">
<h1>KALENDARZ ROKU SZKOLNEGO 2009/2010</h1>

<table border="1" rules="rows" cellpadding="5px">

<tr><td class="nr">1. </td><td class="first"> Rozpoczęcie zajęć dydaktycznych</td><td class="second">1 września 2009</td></tr>
<tr><td class="nr">2. </td><td class="first"> Spotkanie z Rodzicami</td><td class="second">9 września 2009</td></tr>
<tr><td class="nr">3. </td><td class="first"> Spotkanie z Rodzicami (oraz giełda)</td><td class="second">21 października  2009</td></tr>
<tr><td class="nr">4. </td><td class="first"> Spotkanie z Rodzicami (oraz giełda)</td><td class="second">25 listopada 2009</td></tr>
<tr><td class="nr">5. </td><td class="first">Zimowa przerwa świąteczna </td><td class="second">23-31 grudnia 2009</td></tr>
<tr><td class="nr">6. </td><td class="first"> Spotkanie z Rodzicami uczniów zagrożonych</td><td class="second">20 stycznia 2010</td></tr>
<tr><td class="nr">7. </td><td class="first"> Spotkanie z Rodzicami - podsumowanie pracy za I semestr</td><td class="second">10 lutego 2010</td></tr>
<tr><td class="nr">8. </td><td class="first">Ferie zimowe </td><td class="second">15-28 lutego 2010</td></tr>
<tr><td class="nr">9. </td><td class="first">Wiosenna przerwa świąteczna </td><td class="second">1-6 kwietnia 2010</td></tr>
<tr><td class="nr">10. </td><td class="first">Sprawdzian przeprowadzany w ostatnim dniu roku nauki w szkole podstawowej (dzień wolny dla SP)<br>a) dodatkowy temin sprawdzianu </td><td class="second">8 kwietnia 2010 <br> 8 czerwca 2010</td></tr>
<tr><td class="nr">11. </td><td class="first"> Egzamin przeprowadzany w ostatnim roku nauki w gimnazjum : <br> a) termin podstawowy (dni wolne dla gimnazjum): <br> - część humanistyczna <br> - część matematyczno-przyrodnicza <br> - część z języka obcego nowożytnego <br>b) dodatkowe terminy: <br>- część humanistyczna <br> - część matematyczno-przyrodnicza <br> - część z języka obcego nowożytnego</td><td class="second"><br><br>27 kwietnia 2010<br>28 kwietnia 2010 <br>29 kwietnia 2010 <br><br> 8 czerwca 2010 <br> 9 czerwca 2010 <br>10 czerwca 2010</td></tr>
<tr><td class="nr">12. </td><td class="first"> Spotkanie z Rodzicami (oraz giełda)</td><td class="second">21 kwietnia 2010</td></tr>
<tr><td class="nr">13. </td><td class="first"> Spotkanie z Rodzicami uczniów zagrożonych</td><td class="second">26 maja 2010</td></tr>
<tr><td class="nr">14. </td><td class="first">Dzień po Bożym Ciele (wolny od zajęć dydaktycznych)</td><td class="second">4 czerwca 2010</td></tr>
<tr><td class="nr">15. </td><td class="first">Zakończenie rocznych zajęć dydaktyczno-wychowawczych </td><td class="second">25 czerwca 2010</td></tr>
<tr><td class="nr">16. </td><td class="first"> Przerwa wakacyjna: </td><td class="second">26 czerwca - 31 sierpnia 2010</td></tr>

</table>
</div>
