<div id="inside">

<h2>Sukcesy naszych uczniów w roku szkolnym 2008/2009</h2>

<br /> <i>(Osiągnięcia z bieżącego roku szkolnego w Wydarzeniach.)</i>
</div>

<ol>
<li>Konkurs literacki pod patronatem Prezydenta Miasta Gdańska – Gdańsk moim miastem<br />
II miejsce – Oliwia Brożyna z klasy VI A<br />
III miejsce – Maja Myszak z klasy I gimnazjum<br />
Uczniowie naszej szkoły otrzymali także 2 wyróżnienia (na 4 przyznane):<br />
           Stach Borawski – III g B<br />
Ola Stybor – IV B<br />
</li>
<li>VI Megaaolimpiada Wiedzy z Języka Polskiego dla uczniów klas III gimnazjalnych<br />
         I miejsce:   Agata Domska - III g A<br />
</li>


<li>VI Megaaolimpiada Wiedzy z Języka Angielskiego dla uczniów klas III gimnazjalnych<br />
         II miejsce: Maciej Błażek<br />
</li>


<li> VI Wojewódzki Konkurs Poetycki<br />
I  miejsce  w kategorii szkoły podstawowe -Agnieszka Len – klasa V A<br />
Dostrzeżony przez jury został także wiersz Oliwii Brożyny z klasy VI A     (otrzymała    specjalne podziękowanie)<br />
Wyróżnienie w kategorii szkół gimnazjalnych – Berenika Godlewska , kl. I g <br />
</li>

<li>Konkurs Kuratoryjny z Języka Angielskiego dla uczniów gimnazjów<br />
             Laureat:  Maciej Błażek - klasa III g A<br />
 </li>         

<li>Ogólnopolski Alfik Humanistyczny<br />
Nagrody I stopnia ( obóz językowy):<br />
 I miejsce w woj. pomorskim - Ola Stybor – klasa IV B<br />
 II miejsce w woj. pomorskim - Piotr Lebiedź  - klasa II g <br />
Wyróżnienia:<br />
Anna Świtała – VI A<br />
Magdalena Grotowska -  V A<br />
Marcin Rosochowicz  -II g<br />
Ewelina Goździelewska - II g<br />
Ania Gierz - II g<br />
</li>


<li>Ogólnopolska Liga Ortograficzna<br />
Finaliści etapu wojewódzkiego: Maciej Błażek - klasa III g A<br />
Marcin Rosochowicz - klasa II g<br />
Laureatka:     Martyna Przybyłowicz - klasa II g<br />
</li>

<li>Międzyszkolny Konkurs Recytatorski dla uczniów szkół podstawowych<br />
      Finaliści:<br />
      Mikolaj Skraburski - kl. VI A<br />
       Maciej Podralski - kl. V A<br />
       Anna Sobolewska - kl. IV B<br />
</li>

<li> Monitorowanie Jakości Edukacji z Języka Polskiego  "Lwy Gdańskie" - klasy V<br />
Laureatka:   Magdalena Grotowska - klasa V A<br />
(za wybitny wynik nagrodzona dodatkowo warsztatami mistrzowskimi)<br />
</li>

<li> Monitorowanie Jakości Edukacji z Języka Angielskiego"Lwy Gdańskie" - klasy II i III gimnazjum<br />
Laureat:   Maciej Błażek: klasa III gimnzjum<br />
</li>

<li> IX Ogólnopolski Konkurs Twórczego  Umysłu<br />
Finalista :  Daniel Szwemin, klasa IV b<br />
</li>

<li> X Gdańska Edycja Samorządowego Konkursu Nastolatków „Ośmiu Wspaniałych” za pomoc potrzebującym, pracę na rzecz innych i promocję dobra<br />
Laureatka: Agnieszka Osińska, klasa III g B<br />
</li>


<li>Wojewódzki Konkurs Interdyscyplinarny Matematyka z Przyrodą<br />
 Finalista: Mikołaj Skraburski, klasa VI<br />
</li>
<li>Monitorowanie Jakości Edukacji z Matematyki "Lwy Gdańskie" - klasy II gimnazjum<br />
Laureat:   Piotr Lebiedź<br />
</li>

<li>Monitorowanie Jakości Edukacji z Matematyki "Lwy Gdańskie" - klasy III szkoły podstawowe<br />
Laureaci: Mateusz Wasilewski, klasa IIIa<br />
Krzysztof Jędrzejewski, klasa IIIa<br />
</li>

<li>Monitorowanie Jakości Edukacji z Języka Polskiego "Lwy Gdańskie" - klasy III szkoły podstawowe<br />
Laureatka : Natalia Muklewicz, klasa IIIb<br />

</li>
<li>Międzyszkolny Konkurs fotograficzny Morskie wspomnienia<br />
Wyróżnienie: T. Gargulewicz, klasa VIa<br />
</li>

<li>Matematyczne Mistrzostwa Polski Dzieci i Mlodzieży Kwadratura Koła <br />
Laureaci: Krzysztof Jędrzejewski –klasa IIIa<br />
Piotr Sobczak, klasa I gimnazjum<br />
4 wyróżnienia<br />
</li>

<li> Międzynarodowy Konkurs Matematyczny Kangur<br />
Laureatka: Martyna Przybyłowicz, klasa II gimnazjum<br />
7 wyróżnień<br />
</li>
<li> Ogólnopolski Konkurs Plastyczny Moje morze<br />
Wyróżnienie: Berenika Godlewska, klasa I gimnazjum </li>
</ol>


