<div id="inside"><p> <h1>Zespół Kształcenia </h1><h1> Podstawowego i Gimnazjalnego nr 26 </h1> <h1>w Gdańsku</h1>
 <h1>Szkoła Podstawowa nr 70</h1><h1>Gimnazjum nr 46</h1><h1> ul. VII Dwór 6 </h1><h1>80-301 Gdańsk</h1></p><p><h2>Dane kontaktowe:<br/>
adres e-mail: <a href="mailto:zkpig26poczta@internetdsl.pl">zkpig26_AT_poczta.internetdsl.pl</a> <br/> telefon:/fax: 58 556 00 14</h2></p><br/> 
<h2>Nasza szkoła na mapie: </h2><br/>
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=pl&amp;msa=0&amp;msid=105350817934856833726.000474e432f5946989e6a&amp;ll=54.387855,18.574598&amp;spn=0.002999,0.006866&amp;z=15&amp;output=embed"></iframe><br /><small>Pokaż <a href="http://maps.google.pl/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=pl&amp;msa=0&amp;msid=105350817934856833726.000474e432f5946989e6a&amp;ll=54.387855,18.574598&amp;spn=0.002999,0.006866&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">ZKPiG nr 26 w Gdańsku</a> na większej mapie</small>
</div>






