<div id="inside">
<h1> Klub Przyjaciół Sztuki</h1>

<p>Klub działa od 2003 roku, prowadzony jest przez polonistki:<br/>
<b>Alicję Biały i  Ewę Stanisławską.</b><br/>
W ramach działalności KPS organizujemy wyjścia do teatru, na wystawy i koncerty, piszemy prace literackie i scenariusze, przygotowujemy inscenizacje i  wieczornice poetyckie, redagujemy gazetkę szkolną, prowadzimy warsztaty dziennikarskie i literackie.

 
<br/>
<h2>Nasze sukcesy:</h2>

laureaci ( Sara Prussak w 2006, Agnieszka Rosner w 2007) i finaliści (Jędrzej Toczko w 2004 i Agnieszka Rosner w 2006) kuratoryjnych konkursów  z j. polskiego; II miejsce w konkursie literackim „Pisane Lwim Pazurem” w 2006 roku (Sara Prussak) i wyróżnienie w 2007 r. (Ola Mońko); laureatka konkursu literackiego „Inteligencja”w 2007 r. (Ola Mońko), II miejsce w konkursie literackim „Polska wobec wyzwań XX wieku” w 2004 r. (Sara Prussak) i wyróżnienia (Tomasz Biały, Agnieszka Fulbrandt, Anna Jancen, Katarzyna Molenda, Monika Mycio), III miejsce w XXI Wojewódzkim Konkursie Recytatorskim (Jędrzej Toczko).

 <br/>

 W 2007 roku redaktorzy „Miesięcznika Uczniowskiego” zostali laureatami  IV Wojewódzkiego Konkursu Dziennikarskiego ( Adam Szoka, Ola Mońko, Filip Konieczny).

 <br/>

W latach 2005-2007 w szkole wydawaliśmy „Miesięcznik Uczniowski”, którego pomysłodawcą i redaktorem naczelnym był Adam Szoka. W roku szkolnym 2007/2008 zmieniła się redakcja i nazwa pisma –„Co w szkole piszczy”.
<br/>
 

Od  początku działania KPS zorganizowaliśmy wiele wyjść do teatrów i na wystawy.
<br/><br/>
 

 <h2>Zobaczyliśmy spektakle:</h2>
      <ul><li>w Teatrze „Wybrzeżak”: Genesis – biblijna historia stworzenia, Ten obcy, Romeo i Julia</li>
      <li>w Teatrze Muzycznym w Gdyni :  Scrooge, 12 ławek, Kiss me Kate, Foot Loose,</li>
      <li>w Teatrze Dramatycznym w Gdyni: Antygona, Balladyna,</li>
      <li>w Tetrze Kameralnym w Sopocie: Run for your wife, Nie teraz  kochanie, Zwyczajne szaleństwa, Mąż i żona, Posprzątane, Koleżanki, Dialogi o zwierzętach, Farsa z Walworth,</li>
      <li>w Teatrze Wybrzeże w Gdańsku: Komedia omyłek, Miasteczko G, Dar z nieba, Blaszany bębenek.</li></ul>

<h2>Byliśmy na wystawach:</h2>
      <ul><li>Trans Alpinum</li>
      <li>Malarstwo flamandzkie</li>
      <li>obrazów Z.Beksińskiego</li>
      <li>szkiców i rysunków P. Picassa</li>
      <li>W stronę Schulza</li>
      <li>obrazów L.Wyczółkowskiego</li>
      <li>Lekcja paryska (impresjonizm i postimpresjonizm)</li></ul>

<h2>Samodzielnie przygotowaliśmy:</h2>
      <ul><li>spektakle Współczesny Czerwony Kapturek, Dziady, Duch nauczyciela,</li>
      <li>spektakle muzyczno-poetyckie Pożegnanie, Mały Książę dziś i Dla wszystkich starczy miejsca,</li>
      <li>kabaret Ta straszna IIIA,</li>
     <li>wieczornice poetyckie,</li>
      <li>prezentację Pod dachami Paryża.</li></ul>

</p>
</div>
