<div id="inside"><p> <h1>Multimedialne Centrum Informacyjno – Kulturalne</h1>



 

<h2>przy Zespole Kształcenia Podstawowego i Gimnazjalnego nr 26 w Gdańsku, ul. VII Dwór 6</h2>

 

<h2>W skład Centrum wchodzą:</h2>

 
<ul><li>
<h2>Szkolne Centrum Dydaktyczno – Informacyjne:</h2> wypożyczalnia i czytelnia w bibliotece szkolnej. Udostępniamy oprócz lektur: bajeczki i wierszyki dla dzieci, baśnie, podania, legendy; powieści i opowiadania historyczne, obyczajowe, przygodowe, podróżnicze, przyrodnicze; poezję i utwory sceniczne. Mamy bogaty księgozbiór podręczny (encyklopedie, słowniki, albumy…) i księgozbiór metodyczny dla nauczycieli. Prenumerujemy czasopisma specjalistyczne dla nauczycieli oraz czasopisma dla uczniów. Posiadamy również zbiory audiowizualne i stanowisko komputerowe z dostępem do Internetu. Z biblioteki mogą korzystać uczniowie naszej szkoły i ich rodzice oraz nauczyciele i inni pracownicy naszej szkoły. W bibliotece pracują panie: Marlena Paczoska i Zofia Terlecka. Biblioteka szkolna oraz czytelnia otwarte są codziennie od poniedziałku do piątku.</li>

 

<li><h2>Biblioteka i czytelnia – godziny otwarcia:</h2>

Poniedziałek godz. 8,00 – 16,00

<br/>Wtorek godz. 10,00 – 16,00

<br/>Środa godz. 8,00 – 14,00

<br/>Czwartek godz. 9,00 – 14,00

<br/>Piątek godz. 9,00 – 14,00
</li>
 

<li><h2>Pracownia komputerowa.</h2></li>

<li><h2>Galeria „Passe – Partou”,  w której organizujemy:</h2>

- wystawy plastyczne, fotograficzne,

<br/>- spotkania muzyczne,

<br/>- spotkania z ciekawymi ludźmi,

<br/>- imprezy okolicznościowe.</li>
<ul>
 <br/>
<table><tr>
<td><a href="http://www.mcik.republika.pl" target="_blank"><img src="style/mcik.png" style="vertical-align: midle"/></a></td><td><a href="http://www.mcik.republika.pl" target="_blank">Link do strony MCIK: www.mcik.republika.pl</a><td/>
</tr></table>

</p>
</div>