<div id="inside">

<table><tr><td><h3>Organ prowadzący szkołę: <br/>Wydział Edukacji Miasta Gdańska&nbsp;&nbsp;&nbsp;</td><td> <a href="http://www.gdansk.pl/online,22,145.html"><img class="middle" src="style/gdansk.png"></a></h3></td></tr></table>

<br/><br/><br/><hr/><br/><br/>


<h1>Organami Szkoły są:</h1> 

    <ol> <li>Dyrektor szkoły:</li><ul>
          <li>dyrektor - Jacek Mielewczyk</li>
          <li> wicedyrektor - Aleksandra Kolicka</li></ul>
   <li> Rada Pedagogiczna:</li><ul>
          <li> wszyscy nauczyciele zatrudnieni w szkole</li></ul>
  <li> Rada Szkoły:</li><ul>
          <li>Ryszard Sobczak - przewodniczący, M. Czerwińska, J. Drapella - rodzice</li>
         <li>B. Hildebrand, R. Karzarnowicz, E. Stanisławska, M. Wierzchowska - nauczyciele</li></ul>
   <li> Rada Rodziców:</li><ul>
          <li> Izabela Szewczyk - przewodnicząca</li></ul>
   <li> Samorząd Uczniowski:</li><ul>
   <h4>Gimnazjum:</h4>
          <li>opiekunowie SU: Nawojka Łuczak, Monika Kłos</li>
         <li> przewodniczący : Wojciech Dudzic klasa I gA</li>
         <li>zastępca : Piotr Lebiedź klasa III gA</li>
         <li> sekretarz : Katarzyna Jezierska klasa IIIg A</li>
          <li>skarbnik : Marta Steller klasa I gB</li>
          </ul>
  </ol>
 

<i>Informacje o celach, uprawnieniach, zadaniach i zasadach funkcjonowania powyższych Organów znajdują się w rozdziale IV Statutu Szkoły</i>
<br/><br/><br/><hr/><br/><br/>



<h1>LISTA NAUCZYCIELI W ROKU SZKOLNYM 2009/2010</h1>

 
<table>
<tr><td>1.</td> <td>Baran Jolanta </td><td>Wychowanie fizyczne</td></tr> 
<tr><td>2. </td> <td>Białas Anna</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>3.</td> <td>Domska Joanna</td> <td>Język  polski</td></tr>
<tr><td>4.</td> <td>Krystian Dzikowski</td> <td>Historia, WOS</td></tr>
<tr><td>5.</td> <td>Felusiak-Zakrzewska Katarzyna&nbsp;&nbsp;</td> <td>Wychowanie fizyczne- szrmierka</td></tr> 
<tr><td>6.</td> <td>Filiks Ewa</td> <td>Biologia, przyroda, technika</td></tr> 
<tr><td>7.</td> <td>Formela Natalia</td> <td>Psycholog</td></tr> 
<tr><td>8.</td> <td>Formaj Irena</td> <td> </td></tr> 
<tr><td>9.</td> <td>Gładczuk Wiesława</td> <td>Geografia, przyroda</td></tr> 

<tr><td>10.</td> <td>Graczyk Jacek</td> <td>Wychowanie fizyczne</td></tr> 
<tr><td>11.</td> <td>Hildebrand Bogumiła</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>12.</td> <td>Jankowska Małgorzata</td> <td>Religia</td></tr> 
<tr><td>13.</td> <td>Kamińska Małgorzata</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>14.</td> <td>Karzarnowicz Renata</td> <td>Pedagog</td></tr> 
<tr><td>15.</td> <td>Kasiutycz Alina</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>16.</td> <td>Kaszubowski Adam</td> <td>Wychowanie fizyczne - szrmierka</td></tr> 
<tr><td>17.</td> <td>Kłos Monika</td> <td>Język angielski</td></tr> 

<tr><td>18.</td> <td>Kolicka Aleksandra</td> <td>Język rosyjski – wicedyrektor szkoły</td></tr> 
<tr><td>19.</td> <td>s.Koreń Barbara</td> <td>Religia</td></tr> 
<tr><td>20.</td> <td>Kowalczuk Piotr</td> <td>Wychowanie fizyczne</td></tr> 
<tr><td>21.</td> <td>Kowalewska Żanetta</td> <td>Matematyka</td></tr> 
<tr><td>22.</td> <td>Kozłowska Irena</td> <td>Wychowawca świetlicy</td></tr> 
<tr><td>23.</td> <td>Kulesza Maria</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>24.</td> <td>Leja-Kamelska Elźbieta</td> <td>Wychowawca świetlicy</td></tr> 
<tr><td>25.</td> <td>Liro Maria</td> <td>Terapeuta</td></tr>  
<tr><td>26.</td> <td>Łuczak Nawojka</td> <td>Język angielski</td></tr> 
<tr><td>27.</td> <td>Machaj Irena</td> <td>Matematyka, Chemia</td></tr> 
<tr><td>28.</td> <td>Maciejewska Barbara</td> <td>Muzyka, plastyka</td></tr> 
<tr><td>29.</td> <td>Maszka Katarzyna</td> <td>Matematyka</td></tr> 
<tr><td>30.</td> <td>Mielewczyk Jacek</td> <td>Wychowanie fizyczne – dyrektor szkoły</td></tr> 
<tr><td>31.</td> <td>Niwczyk Justyna</td> <td>Wychowawca świetlicy</td></tr> 
<tr><td>32.</td> <td>Pietrusiak Ewa</td> <td>Język  polski</td></tr> 
<tr><td>33.</td> <td>Pietrusiak Konrad</td> <td>Wychowanie fizyczne - szrmierka</td></tr> 
 
 
<tr><td>34.</td> <td>Sikorska Małgorzata</td> <td>Wychowawca świetlicy</td></tr> 
<tr><td>35.</td> <td>Sobczak Anna</td> <td>Wychowanie fizyczne - szrmierka</td></tr> 
<tr><td>36.</td> <td>Stanisławska Ewa</td> <td>Język  polski</td></tr> 

<tr><td>37.</td> <td>Sygit Joanna</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>38.</td> <td>Szarafińska Anita</td> <td>Logopeda</td></tr> 
<tr><td>39.</td> <td>Szarejko Honorata</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>40.</td> <td>Szmit Longin</td> <td>Wychowanie fizyczne - szrmierka</td></tr> 
<tr><td>41.</td> <td>Szulc Danuta</td> <td>Wychowanie fizyczne</td></tr> 
<tr><td>42.</td> <td>Szymański Łukasz</td> <td>Wychowanie fizyczne - szrmierka</td></tr> 
<tr><td>43.</td> <td>Światłowska Gracjana</td> <td>Nauczanie zintegrowane</td></tr> 
<tr><td>44.</td> <td>Terlecka Zofia</td> <td>Biblioteka</td></tr> 
<tr><td>45.</td> <td>Urbański Marcin</td> <td>Język niemiecka</td></tr> 
<tr><td>46.</td> <td>Walicka Alicja</td> <td>Wychowanie fizyczne</td></tr> 
<tr><td>47.</td> <td>Walka Krzysztof</td> <td>Wychowanie fizyczne - szrmierka</td></tr> 
<tr><td>48.</td> <td>Wierzchowska Magda</td> <td>Język angielski</td></tr> 
<tr><td>49.</td> <td>Witkowski Andrzej</td> <td>Wychowanie fizyczne</td></tr> 
<tr><td>50. </td> <td>Zagórska Ewa</td> <td>Wychowanie fizyczne</td></tr> 
<tr><td>51.</td> <td> Zdrojewska Agnieszka</td> <td>Wychowawca świetlicy</td></tr> 
</table>

</div>