
<div id="inside">
<h1>ZAJĘCIA POZALEKCYJNE W ROKU SZKOLNYM 2009/2010</h1>

<table border="1" rules="rows" cellpadding="5">

<tr><td class="first"><b>Rodzaj zajęć</b> </td><td class="second"> <b>Prowadzący</b></td><td class="third"><b>Dzień i godziny zajęć</b></td></tr>
<tr><td class="first">Koło muzyczne </td><td class="second">p. B.Maciejewska </td><td class="third">poniedziałek, 8.00-8.45</td></tr>
<tr><td class="first">Koło gier logicznych </td><td class="second">p. J.Sygnit </td><td class="third">środa, 14.35-15.20</td></tr>
<tr><td class="first">Koło polonistyczne </td><td class="second">p. J.Domska </td><td class="third">piątek, 12.30-13.20</td></tr>
<tr><td class="first">Koło przyjaciół biblioteki </td><td class="second">p. Z.Terlecka</td><td class="third">terminy ustalane z uczniami</td></tr>
<tr><td class="first">Koło biblijno-religijne </td><td class="second">p. B.Koreń </td><td class="third">piątek, 17.00-17.45</td></tr>
<tr><td class="first">Koło chemiczne </td><td class="second">p. I.Machaj </td><td class="third">piątek, 14.35-15.10</td></tr>
<tr><td class="first">Koło teatralne języka angielskiego </td><td class="second">p. N.Łuczak </td><td class="third">czwartek, 13.30-14.25</td></tr>
<tr><td class="first">Koło historyczne </td><td class="second">p. K Dzikowski </td><td class="third">środa, 16.15-17.00</td></tr>
<tr><td class="first">Koło teatralne </td><td class="second">p. M Jankowska </td><td class="third">czwartek, 16.15-17.00</td></tr>
<tr><td class="first">Kurs na kartę rowerową i motorowerową </td><td class="second">p. B.Hildebrand </td><td class="third">terminy zostaną podane</td></tr>
<tr><td class="first">Koło aktywności twórczej </td><td class="second">p. M.Kulesza </td><td class="third">poniedziałek, 13.30-15.20</td></tr>
<tr><td class="first">Koło teatralne I-III </td><td class="second">p. A.Białas </td><td class="third">poniedziałek, 14.35-15.20</td></tr>
<tr><td class="first">Koło języka niemieckiego </td><td class="second">p. M.Urbański </td><td class="third">czwartek,  16.00-17.00 (co drugi tydzień)</td></tr>
<tr><td class="first">Koło informatyczne </td><td class="second">p. M.Sochacki </td><td class="third">co drugi czwartek, 15.20-16.20</td></tr>
<tr><td class="first">Zajęcia wyrównawcze z fizyki</td><td class="second">p. M.Sochacki </td><td class="third">co drugi czwartek, 15.20-16.20</td></tr>
<tr><td class="first">Realizacja projektu COMENIUS-działania artystyczne i ekologiczne </td><td class="second">p. E Stanisławska - koordynator <br> p. B.Maciejewska <br> p. E.Filiks </td><td class="third">terminy zgodnie z realizacją celów programu</td></tr>
	<tr><td class="first">Zajęcia sportowe </td><td class="second">p. J.Graczyk <br> p. P.Kowalczuk <br> p. Baran <br> p. A.Walicka <br> p. E.Zagórska <br> p. J.Mielewczyk IGB</td><td class="third"> czwartek, 15.10-16.00<br>piątek, 15.20-16.10<br>czwartek, 14.30-15.20<br>poniedziałek, 15.30-16.15<br>poniedziałek, 12.30-13.30<br>poniedziałek, 17.15-19.30 basen</td></tr>
<tr><td class="first">Zabawy integracyjne klasa "0" </td><td class="second"> p. G.Światłowska <br> p. N.Formela</td><td class="third">sobota, 10.00-14.00 raz w miesiącu<br>piątek, 10.45-11.30</td></tr>
<tr><td class="first">Zajęcia wyrównawcze matematyka </td><td class="second"> p. K.Maszka <br> p. Ż.Kowalewska</td><td class="third">środa, 14.35-15.20<br>wtorek, 14.30-15.25</td></tr>
<tr><td class="first">Zajęcia wyrównawcze biologia, przyroda, geografia </td><td class="second">p. E.Filiks <br> p. W.Gładczuk </td><td class="third">wtorek, 16.15-17.00<br>wtorek, 15.30-16.15<br>środa, 8.00-8.45</td></tr>
<tr><td class="first">Zajęcia wyrównawcze język angielski </td><td class="second">p. M Kłos <br> p. M Wierzchowska </td><td class="third">czwartek, 13.30-14.15<br>czwartek, 8.00-8.45</td></tr>
<tr><td class="first">Zajęcia wyrównawcze język polski </td><td class="second">p. E.Pietrusiak </td><td class="third">środa, 15.20-16.25</td></tr>
<tr><td class="first">Zajęcia wyrównawcze </td><td class="second">p. A.Białas <br> p. M.Kamińska <br> p. J.Sygit <br> p. A.Kasiutycz </td><td class="third">czwartek, 14.20-15.10<br>środa, 12.45-13.30<br>czwartek, 8.00-8.45<br>środa, 11.30-12.15</td></tr>
<tr><td class="first">Alternatywne spędzanie wolnego czasu kl. IGB </td><td class="second">p. R.Karzarnowicz </td><td class="third">czwartek, 14.30-15.30</td></tr>

</table>
</div>
