<div id="inside"> <h1>Dokumenty szkolne:</h1>
<a href="static/statut_szkoly.pdf" ><img src="style/acrobat.png"/> &nbsp;&nbsp; <b><big>Statut szkoły</big></b></a><br/><br/>
<a href="static/sytuacje_kryzysowe.pdf" ><img src="style/acrobat.png"/> &nbsp;&nbsp; <b><big>Sytuacje kryzysowe </big></b></a><br/><br/>
<a href="static/program_wychowawczy.pdf" ><img src="style/acrobat.png"/> &nbsp;&nbsp; <b><big>Program wychowawczy</big></b></a> <br/><br/>
<a href="static/podanie_o_przyjecie_podst.doc" ><img src="style/doc.png"/> &nbsp;&nbsp; <b><big>Wzór podania </big></b></a> <br/><br/>

<blockquote>Dokumenty są zapisane w formacie <b>pdf</b> (ikonka <img src="style/acrobat.png"/> ) można odczytać systemach MS Windows za pomocą <a href="http://get.adobe.com/reader/otherversions/" target="_blank">Acrobat Reader</a> <br />Dokumenty tekstowe (ikonka <img src="style/doc.png"/> ) można odczytać w OpenOffice.org lub MS Office</blockquote>
</div>
