<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>ZKPiG nr 26 w Gdańsku - Gimnazjum Sportowe nr 46 - Szkoła Podstawowa nr 70 - Gdańska Szkoła Floretu - zkpig26.pl</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Mikołaj Sochacki">
  <meta name="keywords" content="zkpig26 zkpig 26 gdańsk szermierka szkoła podstawowa 70 gimnazjum nr 46 sportowe gdańska szkoła floretu">

  <!-- **** layout stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="style/style.css" />

</head>

<body>
  <div id="main">
	<div id="links_container">	
      
      <div id="links">
        zkpig26
      </div>
    </div>
    

    <div id="menu">
      <ul>
        <!-- **** zmineić select dla innej podstrony **** -->
        <li><a href="news">Wydarzenia</a></li>
        <li><a href="gallery">Galeria</a></li>
        <li><a id="selected" href="">O szkole</a></li>
        <li><a  href="parents">Rada Rodziców</a></li>
      </ul>
    </div>


    <div id="content">
      <div id="column1">
<div class="sidebaritem">
<h1 id="barheader">Praca Szkoły</h1>
<div class="sbilinks">
<ul>  <!-- **** tekst musi być krótki w linkach!!! **** -->
 <li><a href="/school?id=kontakt">Kontakt</a></li>
 <li><a href="/school?id=przepisy">Oficjalne dokumenty</a></li>
 <li><a href="/school?id=organy">Organy szkoły i kadra</a></li>
 <li><a href="/school?id=plan">Plan zajęć</a></li>
 <li><a href="/school?id=pozalekcyjne">Zajęcia pozalekcyjne</a></li>
 <li><a href="/school?id=podreczniki">Podręczniki</a></li>
 <li><a href="/school?id=kalendarz">Kalendarz roku szkolnego</a></li>
 </ul>
 </div>
 
 <h1 id="barheader">Oferta edukacyjna</h1>
<div class="sbilinks">
<ul>  <!-- **** tekst musi być krótki w linkach!!! **** -->
 <li><a href="/school?id=wizytowka">O szkole</a></li>
 <li><a href="/school?id=sale_lekcyjne">Sale lekcyjne</a></li>
 <li><a href="/school?id=sale_gimnastyczne">Sale gimnastyczne</a></li>
 <li><a href="/school?id=pracownia">Pracownia komputerowa</a></li>
 </ul>
 </div>
 
 <h1 id="barheader">Osiągnięcia</h1>
 <div class="sbilinks">
 <ul>
 <li><a href="/school?id=konkursy">Konkursy przedmiotowe</a></li>
 <li><a href="/school?id=sprawdzian">Sprawdzian klas 6</a></li>
 <li><a href="/school?id=egzamin">Egzamin gimnazjalny</a></li>
</ul>
</div>
<div class="sbilinks">
<h1 id="barheader">Stowarzyszenia i kluby</h1>
 <ul>
 <li><a href="/school?id=kps">Klub przyjaciół sztuki</a></li>
 <li><a href="/school?id=dkf">DKF</a></li>
 <li><a href="/school?id=mcik">MCI-K</a></li>
 <li><a href="/school?id=sps">Stow. przyjaciół szkoły</a></li>
</ul> 
</div>
<div class="sbilinks">
<h1 id="barheader">Comenius</h1>
 <ul>
 <li><a href="/school?id=comeniusinfo">Informacja o programie</a></li>
 <li><a href="/school?id=comeniuslogo">Nasze logo</a></li>
</ul> 
</div>
 <!-- tu dodać linki do ostatnich newsów -->
 
</div>
<div><br /><br /><a href="http://comenius.org.pl" target="_blanck" ><img src="style/comenius_oficial.png" /></a></div>
<div><br /><br /><a href="http://szermierka.pl" target="_blanck"><img src="style/sietom.jpg" /></a></div>
<div><br /><br /><a href="/school?id=sale_gimnastyczne" target="_self"><img src="style/gsf_logo.png" /></a></div>
<div><br /><br /><a href="http://eku.edu.pl" target="_blank"><img src="style/eku.jpg" /></a></div>
</div>
      



      <div id="column2">

	<div class="fixed">
       {{ content }}
      </div>


	</div>
    </div>


    <div id="footer">
      <a href="http://" target="_blank">Admin: Mikołaj Sochacki</a> | <a href="" >Images by </a> | <a href="mailto:zkpig26@poczta.internetdsl.pl">e-mail:zkpig26</a> | <a href="http://www.dcarter.co.uk">Template by dcarter</a>
    </div>
  </div>
</body>
</html>
