<div id="inside">
<h1>Wyniki sprawdzianów po klasie szóstej:</h1>

<h2>2005 rok</h2><br />
Średnia szkoły: 33,49 ( 2 punkty wyżej niż średnia Gdańska)<br />
Średnia Gdańska: 31,49<br /><br />
<h2>2006 rok</h2><br />
Średnia szkoły: 28,51(1,93 pkt. powyżej średniej Gdańska)<br />
Średnia Gdańska: 26,58<br /><br />
<h2>2007 rok</h2><br />
Średnia szkoły: 30,82 ( 2,74 punkty wyżej niż średnia Gdańska)<br />
Średnia Gdańska: 28,08<br /><br />
<h2>2008 rok</h2><br />
Średnia szkoły: 28,4(więcej o 1,1 niż średnia Gdańska)<br />
 Średnia Gdańska: 27,3 <br /><br />
<h2>2009 rok</h2><br />
Średnia szkoły: 27,6 (więcej o 2,57 niż średnia Gdańska)<br />
Średnia Gdańska: 25,03<br /><br /><br />

<h2> Wizualizacja porównująca wyniki z kolejnych lat</h2>
<img src="style/sprawdzian.png" />
</div>
