<div id="inside"><h1>Stowarzyszenie Przyjaciół Szkoły "Szermierz"</h1>
<h2>Działa przy Zespole Kształcenia Podstawowego i Gimnazjalnego nr 26 w Gdańsku, ul. VII Dwór 6
 
Celem Stowarzyszenia jest:</h2>

<ul><li>dokumentowanie historii szkoły</li>

<li>promowanie szkoły i wartości tworzących tradycje szkoły poprzez różnorodne formy działalności kulturalnej, np. w Galerii „Passe – Partou”</li>

<li>wspomaganie szkoły w jej zadaniach poprzez poszerzanie dostępu do nowoczesnych źródeł informacji , np. wspieranie rozwoju Multimedialnego Centrum Informacyjno – Kulturalnego.</li> </ul>

 <br/><br/>

<table><tr><td><a href="http://www.szermierz.republika.pl" target="_blank">www.szermierz.republika.pl</a></td> <td> <a href="http://www.szermierz.republika.pl" target="_blank"> <img src="style/szermierka.gif"></a> </td> </tr> </table> </p> 
</div>