<div id="inside"><h1>Poznajcie naszą szkołę</h1> 

 
<p>
Zacznijmy od położenia. Nasza szkoła jest usytuowana na skraju Trójmiejskiego Parku Krajobrazowego, z dala od miejskiego zgiełku, a  jednocześnie blisko centrum.<br/>

Mała, przytulna, bezpieczna, przyjazna – te słowa najlepiej oddają klimat naszej szkoły. Tworzymy niewielką społeczność, w której wszyscy się znają, pomagają sobie. Uczniowie mogą liczyć na pomoc pedagoga, psychologa, nauczyciela terapii pedagogicznej i wychowawców.<br/>

Wysoko wykwalifikowana kadra nauczycieli i trenerów wciąż doskonali swoje umiejętności, skutecznie podnosząc poziom nauczania, co znalazło odbicie w wyjątkowo wysokich wynikach egzaminów gimnazjalnych.<br/>

W ostatnich latach przyznano nam następujące Pomorskie Certyfikaty Jakości: Opieka i profilaktyka wspomaga ucznia w jego rozwoju, Szkoła uzyskuje wysokie efekty kształcenia oraz Atmosfera szkoły prowadzi do dobrych stosunków w środowisku szkolnym.<br/>

W naszej szkole szczególną troską otaczamy dzieci z dysfunkcjami. Staramy się im zapewnić prawidłowy i harmonijny rozwój, czego dowodem jest między innymi uzyskanie Certyfikatu Polskiego Towarzystwa Dysleksji Szkoła przyjazna uczniom z dysleksją.<br/>

Dużo uwagi poświęcamy uczniom zdolnym, pomagamy im rozwijać pasje, zainteresowania. Kształtujemy postawy poznawcze, prowokujemy do twórczych poszukiwań.<br/>


Nasza szkoła znana jest w świecie jako kuźnia talentów szermierczych, wychowaliśmy wielu olimpijczyków. Kładziemy także duży nacisk na promowanie zdrowego stylu życia – należymy do ogólnopolskiej sieci Szkół Promujących Zdrowie.</p>


<h2>Zapewniamy:</h2>

<ul>
<li>wysoki poziom kształcenia. Wyniki testów gimnazjalnych: humanistyczny 40,6; matematyczno – przyrodniczy 34,27</li>
<li>pomoc specjalistów: pedagoga, psychologa, logopedy, nauczyciela terapii pedagogicznej</li>
<li>świetlicę czynną do godziny 16.00</li>
<li>stołówkę</li>
<li>sklepik szkolny</li>
<li>dostęp do Internetu</li>
<li>dobrze wyposażoną bibliotekę</li>
<li>Multimedialne Centrum Informacyjne</li>
<li>treningi pod okiem wykwalifikowanej kadry trenerskiej</li>
<li>gimnastykę korekcyjną</li>
<li>naukę języków obcych: angielskiego i niemieckiego</li>
<li>i rosyjskiego dla chętnych</li>
<li>wyjścia edukacyjno-kulturalne (organizujemy sobotnie wyjścia na wystawy i na spektakle wieczorne w Teatrze Wybrzeże a ,w ramach wyjść edukacyjnych, na spektakle Teatru „Wybrzeżak”)</li>
</ul>
 

<h2>Proponujemy:</h2>

<ul>
<li>dodatkowe zajęcia sportowe SKS i UKS</li>
<li>klasy o profilach: szermierczym i o rozszerzonym programie wychowania fizycznego (między innymi tenis stołowy)</li>
<li>basen (klasy sportowe)</li>
<li>koła zainteresowań: matematyczne, fizyczne, chemiczne, muzyczne</li>
<li>zajęcia indywidualne z nauczycielami przedmiotowymi</li>
<li>Dyskusyjny Klub Filmowy</li>
<li>współudział w redagowaniu gazetki szkolnej Miesięcznik Uczniowski</li>
<li>naukę w klasach prowadzonych według programów autorskich lub opartych na innowacjach pedagogicznych (np. wychowanie regionalne w kl. I – III lub prozdrowotne w gimnazjum)</li>
<li>lekcje języka polskiego z elementami propedeutyki filozofii, kształcenia filmowego i teatralnego (w gimnazjum)</li>
<li>udział w pracach Rady Szkoły i Samorządu Uczniowskiego</li>
</ul>

<h2>Zdobywamy</h2>
<ul>
<li>medale na igrzyskach olimpijskich:<br/>
Barcelona 1992 – brąz i VIII miejsce drużynowo<br/>
Atlanta 1996 – srebrny medal drużynowy i VIII miejsce kobiet<br/>
Sydney 2000 – srebrny medal drużynowy kobiet</li>
<li>indywidualne i drużynowe medale na mistrzostwach świata seniorów, juniorów, młodzików</li>
<li>znaczące miejsca w pozaszkolnych zawodach sportowych oraz uniwersjadach</li>
<li>medale na mistrzostwach Polski (ponad 100!)</li>
<li>wysokie miejsca w konkursach przedmiotowych laureaci i finaliści konkursów kuratoryjnych </li>
<li>nagrody i wyróżnienia w ogólnopolskich i międzynarodowych konkursach: Alfik, Omnibus, Mat, Kangur, Oxford, Olimpus, Albus, EKO-PLANETA</li>
<li>nagrody i wyróżnienia w wielu konkursach literackich</li>
<li>stypendia Prezydenta Miasta Gdańska</li>
</ul>
 

<h2>Organizujemy:</h2>

<ul>
<li>festyny rodzinne</li>
<li>okolicznościowe uroczystości szkolne: pikniki, Dzień Nauczyciela, jasełka, Dzień Wiosny, bal na zakończenie gimnazjum, pasowanie na szermierza, pasowanie na ucznia)</li>
<li>profesjonalne wystawy w szkolnej galerii Passe-partout</li>
<li>koncerty muzyczne</li>
<li>wycieczki krajoznawcze (m.in. wędrówki po górach, zwiedzanie Krakowa, Warszawy) i zagraniczne: (Francja, Włochy)</li>
<li>letnie obozy szermiercze i sportowo – rekreacyjne</li>
<li>spotkania z ciekawymi ludźmi</li>
<li>wieczornice poetyckie</li>
<li>konkursy recytatorskie</li>
<li>szkolne konkursy przedmiotowe</li>
</ul>

 

<h2>Uczestniczymy:</h2>
<ul>
<li>w międzynarodowym programie Socrates Comenius</li>
<li>jako wolontariusze w akcjach charytatywnych (współpracujemy z Hospicjum im. E. Dutkiewicza)</li>
<li> w Młodzieżowym Parlamencie Ekologicznym</li>
<li> w sesjach Sejmiku Samorządowego Uczniów przy Radzie Miasta Gdańsk</li>
<li>w akcjach promujących sport, a w szczególności szermierkę, w myśl hasła: Bądź szermierzem swego losu</li>
<li> w akcjach LOP-u</li>
<li> w programie badawczym Lepsza szkoła Gdańskiej Fundacji im. A. Mysiora</li>
</ul>

</div>
